
# dependencias
/node_modules
/.pnp
.pnp.js

# pruebas
/coverage

# next.js
/.next/
/out/

# producción
/build

# otros
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# archivos de entorno (crítico no subir estos si tienen secretos)
.env*.local
.env

# vercel/hosting
.vercel
.firebase

# typescript
*.tsbuildinfo
next-env.d.ts
